<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lightex - @ViewBag.Title</title>
    <link rel="icon" href="~/assets/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
<footer class="drop-shadow w-full h-16 bg-white fixed bottom-0 z-50">
    <div class="container mx-auto px-4 flex items-center justify-center h-full w-full">
        @{
            var year = DateTime.Now.Year;
        }
        <p>© @year PhuThinh. All rights reserved.</p>
    </div>
</footer>
</html>
