@using Microsoft.AspNetCore.Authentication.Cookies
@using System.Security.Claims
@using LIGHTEX.Data
@using Microsoft.AspNetCore.Http
@using System.Diagnostics;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;

@inject IHttpContextAccessor HttpContextAccessor
@{
    var context = HttpContextAccessor?.HttpContext?.RequestServices.GetService(typeof(LIGHTEXContext)) as LIGHTEXContext;
    var username = HttpContextAccessor?.HttpContext?.User?.Identity?.Name;
    var account = await context.Account.FirstOrDefaultAsync(c => c.username == username);
    var customer = await context.Customer.FirstOrDefaultAsync(c => c.username == username);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lightex - @ViewBag.Title</title>
    <link rel="icon" href="~/assets/logo.png">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <header class="drop-shadow w-full h-16 bg-white sticky top-0 z-50">
        <div class="container mx-auto px-4 flex justify-between h-16">
            <div class="flex items-center">
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="flex items-center justify-center">
                        <img class="w-atuo h-10" src="~/assets/logo.png" />
                        <p class="text-3xl text-black font-semibold mx-2 hidden md:block">LIGHTEX</p>
                    </div>
                </a>
            </div>

            <div class="flex items-center">
                @{
                    if (account != null)
                    {
                        if (account.permission == 0)
                        {
                            <div class="relative">
                                <div class="flex items-center justify-center">
                                    <button class="icon absolute right-0 flex mx-2 w-auto h-6 md:hover:scale-125 hover:cursor-pointer transition-all">
                                        <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.31 78.51">
                                            <path d="M442,68.16a32.49,32.49,0,0,1,24.89,53.4l.82.83,1-1a2.15,2.15,0,0,1,3.06,0l15.42,15.45a2.12,2.12,0,0,1,0,3L481,146a2.15,2.15,0,0,1-3.06,0l-15.45-15.45a2.21,2.21,0,0,1,0-3.06l.76-.74-.85-.85A32.51,32.51,0,1,1,442,68.16Zm-15.11,34.27a2.16,2.16,0,1,1-2.16,2.15,2.15,2.15,0,0,1,2.16-2.15ZM429,97.24a2.16,2.16,0,0,1-2.72,1.39,2.2,2.2,0,0,1-1.39-2.75s4.93-15.28,18.6-12.22a2.17,2.17,0,0,1,1.64,2.58,2.13,2.13,0,0,1-2.58,1.62C432.74,85.65,429,97.21,429,97.24Zm32.85-16.49a28.19,28.19,0,1,0,8.25,19.92,28,28,0,0,0-8.25-19.92ZM470.16,126l-3.06,3.06,12.39,12.39,3.06-3Z" transform="translate(-409.44 -68.16)" />
                                        </svg>
                                    </button>
                                    <input class="input__search" placeholder="Tìm kiếm..." name="text" type="text">
                                    <div class="history absolute w-full h-max bg-white top-12 right-0 rounded-lg shadow hidden">
                                        <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                        <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                        <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                        <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="relative">
                            <div class="flex items-center justify-center">
                                <button class="icon absolute right-0 flex mx-2 w-auto h-6 md:hover:scale-125 hover:cursor-pointer transition-all">
                                    <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 78.31 78.51">
                                        <path d="M442,68.16a32.49,32.49,0,0,1,24.89,53.4l.82.83,1-1a2.15,2.15,0,0,1,3.06,0l15.42,15.45a2.12,2.12,0,0,1,0,3L481,146a2.15,2.15,0,0,1-3.06,0l-15.45-15.45a2.21,2.21,0,0,1,0-3.06l.76-.74-.85-.85A32.51,32.51,0,1,1,442,68.16Zm-15.11,34.27a2.16,2.16,0,1,1-2.16,2.15,2.15,2.15,0,0,1,2.16-2.15ZM429,97.24a2.16,2.16,0,0,1-2.72,1.39,2.2,2.2,0,0,1-1.39-2.75s4.93-15.28,18.6-12.22a2.17,2.17,0,0,1,1.64,2.58,2.13,2.13,0,0,1-2.58,1.62C432.74,85.65,429,97.21,429,97.24Zm32.85-16.49a28.19,28.19,0,1,0,8.25,19.92,28,28,0,0,0-8.25-19.92ZM470.16,126l-3.06,3.06,12.39,12.39,3.06-3Z" transform="translate(-409.44 -68.16)" />
                                    </svg>
                                </button>
                                <input class="input__search" placeholder="Tìm kiếm..." name="text" type="text">
                                <div class="history absolute w-full h-max bg-white top-12 right-0 rounded-lg shadow hidden">
                                    <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                    <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                    <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                    <a class="flex w-full px-4 py-2 hover:cursor-pointer hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">Test</a>
                                </div>
                            </div>
                        </div>
                    }
                }
                @{
                    if (account != null)
                    {
                        if (account.permission == 0)
                        {
                            <div class="relative cart">
                                <div class="absolute hover:cursor-pointer w-10 h-4 right-0 bottom-[-16px]"></div>
                                <div class="absolute w-5 h-5 right-[-2px] top-[-10px] bg-[#FF6827] rounded-full z-10 flex items-center justify-center">
                                    <p class="text-xs text-[#FFFFFF] text-center">9+</p>
                                </div>
                                <div class="mx-2 w-auto h-6 md:hover:scale-125 hover:cursor-pointer transition-all">
                                    <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 90.57">
                                        <path d="M934.92,494.86H984.1A14.22,14.22,0,0,1,998.28,509v62.22a14.22,14.22,0,0,1-14.18,14.17H934.92a14.2,14.2,0,0,1-14.17-14.17V509a14.2,14.2,0,0,1,14.17-14.17Zm3.77,18.53a2.12,2.12,0,0,1,1.87-2.4,2.16,2.16,0,0,1,2.41,1.89c0,.06,2,17.41,17.18,17.41s15.9-17.35,15.9-17.38a2.16,2.16,0,0,1,4.31.23c0,.06-1,21.49-20.21,21.49s-21.46-21.18-21.46-21.24Zm45.41-14.2H934.92a9.88,9.88,0,0,0-9.84,9.84v53.18h68.86V509a9.87,9.87,0,0,0-9.84-9.84Zm9.84,67.35H925.08v4.71a9.9,9.9,0,0,0,9.84,9.84H984.1a9.88,9.88,0,0,0,9.84-9.84Z" transform="translate(-920.75 -494.86)" />
                                    </svg>
                                </div>
                                <div class="show__cart absolute w-80 h-max bg-white top-10 right-0 rounded-lg shadow hidden">
                                    <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                        <div class="flex justify-between w-full gap-4">
                                            <img class="w-10 h-10" src="~/assets/logo.png" />
                                            <div class="flex justify-between w-full">
                                                <div>
                                                    <p>Sản phẩm</p>
                                                    <p>Mô tả</p>
                                                </div>
                                                <div>
                                                    <div class="flex gap-1 items-end">
                                                        <p class="text-base text-[#FF6827]">150.000đ</p>
                                                        <p class="text-sm">x</p>
                                                        <p class="text-sm">2</p>
                                                    </div>
                                                    <a class="hover:cursor-pointer">
                                                        <p class="text-right hover:text-[#FF6827]">Xóa</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="relative cart">
                            <div class="absolute hover:cursor-pointer w-10 h-4 right-0 bottom-[-16px]"></div>
                            <div class="absolute w-5 h-5 right-[-2px] top-[-10px] bg-[#FF6827] rounded-full z-10 flex items-center justify-center">
                                <p class="text-xs text-[#FFFFFF] text-center">9+</p>
                            </div>
                            <div class="mx-2 w-auto h-6 md:hover:scale-125 hover:cursor-pointer transition-all">
                                <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 90.57">
                                    <path d="M934.92,494.86H984.1A14.22,14.22,0,0,1,998.28,509v62.22a14.22,14.22,0,0,1-14.18,14.17H934.92a14.2,14.2,0,0,1-14.17-14.17V509a14.2,14.2,0,0,1,14.17-14.17Zm3.77,18.53a2.12,2.12,0,0,1,1.87-2.4,2.16,2.16,0,0,1,2.41,1.89c0,.06,2,17.41,17.18,17.41s15.9-17.35,15.9-17.38a2.16,2.16,0,0,1,4.31.23c0,.06-1,21.49-20.21,21.49s-21.46-21.18-21.46-21.24Zm45.41-14.2H934.92a9.88,9.88,0,0,0-9.84,9.84v53.18h68.86V509a9.87,9.87,0,0,0-9.84-9.84Zm9.84,67.35H925.08v4.71a9.9,9.9,0,0,0,9.84,9.84H984.1a9.88,9.88,0,0,0,9.84-9.84Z" transform="translate(-920.75 -494.86)" />
                                </svg>
                            </div>
                            <div class="show__cart absolute w-80 h-max bg-white top-10 right-0 rounded-lg shadow hidden">
                                <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                    <div class="flex justify-between w-full gap-4">
                                        <img class="w-10 h-10" src="~/assets/logo.png" />
                                        <div class="flex justify-between w-full">
                                            <div>
                                                <p>Sản phẩm</p>
                                                <p>Mô tả</p>
                                            </div>
                                            <div>
                                                <div class="flex gap-1 items-end">
                                                    <p class="text-base text-[#FF6827]">150.000đ</p>
                                                    <p class="text-sm">x</p>
                                                    <p class="text-sm">2</p>
                                                </div>
                                                <a class="hover:cursor-pointer">
                                                    <p class="text-right hover:text-[#FF6827]">Xóa</p>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                {
                    <div class="relative account block">
                        <div class="absolute w-10 h-4 right-0 bottom-[-16px] hover:cursor-pointer"></div>
                        @if (customer != null)
                        {
                            if (customer.avatar.SequenceEqual(new byte[0]))
                            {
                                <div class="mx-2 w-auto h-7 md:hover:scale-125 hover:cursor-pointer transition-all block">
                                    <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">
                                        <path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />
                                    </svg>
                                </div>
                            }
                            else
                            {
                                <div class="flex justify-center items-center mx-2 w-7 h-7 md:hover:scale-125 hover:cursor-pointer transition-all">
                                    <img class="w-full h-full rounded-full border-[1.5px] border-[#333333] object-cover" src="data:image/png;base64,@(Convert.ToBase64String(customer.avatar))" alt="Avatar" />
                                </div>
                            }
                        }
                        <div class="show__account absolute w-48 h-max bg-white top-10 right-0 rounded-lg shadow hidden">
                            @{
                                if (account != null)
                                {
                                    if (account?.permission == 0)
                                    {
                                        <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                            <a class="hover:cursor-pointer w-full">
                                                <p class="text-right w-full">Tài khoản của tôi</p>
                                            </a>
                                        </div>
                                        <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                            <a class="hover:cursor-pointer w-full">
                                                <p class="text-right w-full">Nạp tiền</p>
                                            </a>
                                        </div>
                                        <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                            <a class="hover:cursor-pointer w-full">
                                                <p class="text-right w-full">Đơn mua</p>
                                            </a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                        <a class="hover:cursor-pointer w-full">
                                            <p class="text-right w-full">Tài khoản của tôi</p>
                                        </a>
                                    </div>
                                    <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                        <a class="hover:cursor-pointer w-full">
                                            <p class="text-right w-full">Nạp tiền</p>
                                        </a>
                                    </div>
                                    <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                        <a class="hover:cursor-pointer w-full">
                                            <p class="text-right w-full">Cài đặt</p>
                                        </a>
                                    </div>
                                }
                                if (account?.permission == 1)
                                {
                                    <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                        <a class="hover:cursor-pointer w-full" asp-area="" asp-controller="Admin" asp-action="Index">
                                            <p class="text-right w-full">Trang quản trị</p>
                                        </a>
                                    </div>
                                }
                            }
                            <div class="flex w-full px-4 py-2 hover:bg-[#cccccc] first:rounded-t-lg last:rounded-b-lg">
                                <a id="logout-link" class="hover:cursor-pointer w-full">
                                    <p class="text-right w-full text-[#FF6827]">Đăng xuất</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="items-center gap-2 ml-4 hidden md:flex">
                        <a class="hover:text-[#FF6827]" asp-area="" asp-controller="Login" asp-action="Index">Đăng nhập</a>
                        <div class="h-4 w-[2px] bg-[#6a737c]"></div>
                        <a class="hover:text-[#FF6827]" asp-area="" asp-controller="Register" asp-action="Index">Đăng ký</a>
                    </div>
                    <div class="mx-2 w-auto h-7 md:hover:scale-125 hover:cursor-pointer transition-all block md:hidden">
                        <a asp-area="" asp-controller="Login" asp-action="Index">
                            <svg class="fill-[#333333] w-full h-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.39 98.16">
                                <path d="M488.83,134.58a2.14,2.14,0,1,1-3.46-2.53,42.52,42.52,0,0,0,8.22-25.14,44.55,44.55,0,0,0-18.11-35.72,46.78,46.78,0,0,0-53.55,0,44.41,44.41,0,0,0-18.08,35.72,42.24,42.24,0,0,0,8.22,25.14,2.17,2.17,0,0,1-.49,3,2.14,2.14,0,0,1-3-.48,46.65,46.65,0,0,1-9.07-27.67,48.82,48.82,0,0,1,5.24-21.86,48,48,0,0,1,14.66-17.32,49,49,0,0,1,29.28-9.29h0A49,49,0,0,1,478,67.73a48.3,48.3,0,0,1,14.68,17.32,48.8,48.8,0,0,1,5.22,21.86,46.65,46.65,0,0,1-9.07,27.67Zm-36.31-7.49a4.58,4.58,0,0,1,.56.14c7.52.77,19.25,3.66,28.46,13.75a2.17,2.17,0,0,1,.14,2.72c-.76,1.16-8.27,11.62-29.9,12.79a2.76,2.76,0,0,1-.65.11c-.68,0-1.36,0-2,0s-1.36,0-2,0a2.76,2.76,0,0,1-.66-.11c-21.62-1.17-29.14-11.63-29.9-12.79a2.17,2.17,0,0,1,.14-2.72c9.21-10.09,20.95-13,28.43-13.75.2,0,.4-.11.6-.14a73.57,73.57,0,0,1,6.86,0Zm-3.43,4.2c-5.67.08-18.17,1.47-28,11.31,2.55,2.83,10.32,9.38,28,9.69,17.68-.31,25.45-6.86,28-9.69-9.83-9.84-22.33-11.23-28-11.31Zm-.37-48a17.92,17.92,0,1,1-12.64,5.25,17.91,17.91,0,0,1,12.64-5.25Zm9.58,8.31a13.54,13.54,0,1,0,4,9.58,13.49,13.49,0,0,0-4-9.58Z" transform="translate(-399.51 -58.44)" />
                            </svg>
                        </a>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="container mx-auto px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="drop-shadow w-full h-16 bg-white fixed bottom-0 z-50">
        <div class="container mx-auto px-4 flex items-center justify-center h-full w-full">
            @{
                var year = DateTime.Now.Year;
            }
            <p>© @year PhuThinh. All rights reserved.</p>
        </div>
    </footer>

    <script>
        if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
            location.reload(true);
        }
        document.getElementById("logout-link").addEventListener("click", function (e) {
            e.preventDefault(); // Ngăn chặn trang chuyển hướng khi nhấn vào thẻ <a>
            logout();
        });
        function logout() {
            fetch('/Login/Logout', { method: 'POST' })
                .then(function (response) {
                    if (response.redirected) {
                        window.location.href = response.url; // Chuyển hướng đến trang Login
                    }
                });
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
